@import "tailwindcss";

.line-path.inactive {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.line-path.active {
  opacity: 1;
  stroke-width: 3;
}

.label-line.inactive {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.label-rect.inactive {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.label-text.inactive {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.active-btn {
  background-color: #ada6c4;
}

.custom-opacity {
  opacity: 75% !important;
  background-color: black;
}


.marker-div {
  font-size: 20px;
  pointer-events: none;
}

svg {
  overflow: visible;
}

.tooltip {
  transition: opacity 0.2s ease;
  z-index: 9999;
}